.cards { 
    margin-top : 1vmax;
}

#menuCard {
    padding:0;
}

.cardTitle {
    padding-top:1.25rem;
    padding-bottom: 1.25rem;
    margin:0;
    font-size: 1.25rem ;
    font-weight: 500 ;
    line-height: 1.2 ;
}