.battleCounterContainer{
    margin-top:1vmax !important;
}

.addPlayerButton{
    margin-bottom:1vmax;
    width:100%;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
}

.counterContainer{
    margin-top:1vmax;
}

.playerCard{
    margin-bottom:1vmax;
}

